@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-y: hidden;
}

header {
    background-color: #0C1618;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 18px;
}

nav ul li a.active {
    color: #0c9a42;
}

nav ul li a:hover {
    color: #0c9a42;
}

.user-actions {
    display: flex;
    align-items: center;
}

#logout {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#logout:hover {
    transform: scale(1.1);
}

body, html {
    height: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px); /* Adjust height taking header height into account */
    gap: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.icon-container img {
    width: 80px; /* Adjust size as necessary */
    height: 80px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn img {
    width: 24px;
    height: 24px;
}

.logo img, .login-signup img {
    height: 50px;
}

h2 {
    text-align: center;
    margin-top: 106px;
    margin-bottom: -156px;
    color: #333;
    font-size: 48px;
}

body a {
    text-decoration: none;
    color: white;
}

.btn a {
    text-decoration: none;
}
