@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Play", sans-serif; 
    font-weight: 700; 
    font-style: normal;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #0C1618;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}


.logo img {
    height: 50px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; 
    font-size: 18px; 
}

nav ul li a.active {
  color: #0c9a42; 
}

nav ul li a:hover {
    color: #0c9a42;
}

.user-actions {
    display: flex;
    align-items: center;
}

.search-form {
    margin-right: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.search-form button {
    background-color: #096A2E; /* Set background color to #096A2E */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-signup button {
    background-color: transparent; 
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.login-signup button:hover {
    background-color: #096A2E; 
}

header .cart-icon {
  margin-right: 10px; 
  width: 55px;
  height: 30px;
  cursor: pointer; 
  transition: width 0.3s, height 0.3s, color 0.3s, font-size 0.3s; 
}

header .cart-icon:hover {
    transform: scale(1.1);
}

/* Styles for discount banner */
.discount-banner {
    background: linear-gradient(to top, rgba(203, 232, 232, 1), rgba(255, 255, 255, 0));
    color: #000000;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items horizontally */
    cursor: pointer;
}

.discount-banner .banner-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items horizontally */
    gap: 50px;
}

.discount-banner h2 {
    margin: 0;
    font-size: 36px;
}

.discount-banner p {
    margin: 20px 0;
}

.text-content {
    opacity: 0;
    animation: slideFromLeft 1s ease forwards; /* Text animation */
}

.product-images img {
    max-width: 100%; /* Ensure image fits container */
    height: auto; /* Maintain aspect ratio */
    animation: slideFromRight 1s ease forwards; /* Image animation */
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.product-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-images img {
    max-width: 200px;
    height: auto;
}

.product-listing {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    width: 160px; 
    height: 160px; 
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-weight: bold;
    color: #0c9a42;
}

.product button {
    background-color: #0c9a42;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #096A2E;
}

/* Styles for "See Details" button */
.product .details-btn {
    background-color: #fff; 
    color: #000; 
    border: 1px solid #000; 
    padding: 6px 12px; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
}

.product .details-btn:hover {
    background-color: #ddd; /* Hover background color */
}
.most-selling-heading {
    margin-left: 10px;
}

.main-content {
  padding-top: 0px; 
  height: 100vh;
}

#user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#user-icon:hover {
    transform: scale(1.1);
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dropdown-menu ul li {
    margin-bottom: 5px;
}

#dropdown-menu ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

#dropdown-menu ul li a:hover {
    background-color: #f0f0f0;
}

