.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#name,
#email,
#subject,
#message {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    background-color: #0c9a42;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0c7a36;
}

body {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0C1618;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}


.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 18px;
}

nav ul li a.active {
    color: #0c9a42;
}

nav ul li a:hover {
    color: #0c9a42;
}