@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0C1618;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}


.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 18px;
}

nav ul li a.active {
    color: #0c9a42;
}

nav ul li a:hover {
    color: #0c9a42;
}

#logout {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#logout:hover {
    transform: scale(1.1);
}

.product img {
    width: 160px;
    height: 160px;
}

.product {
    margin: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    width: 200px;
    text-align: center;
    
}

.product-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-content: stretch;
}
