@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    margin: 0;    
    font-family: "Play", sans-serif; 
    font-weight: 700; 
    font-style: normal;
    background-color: #0C1618;
    color: #fff;
}

.header {
    background-color: #0C1618;
    color: #fff;
    padding: 10px;
}

.back-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.heading {
    margin: 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dp-area {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-heading {
    color: #0c9a42;
}

.info p {
    margin: 5px 0;
}
